<div class="flip flip-vertical">
    <div class="front">
        <img src="{{imageUrl}}" alt="{{title}}">
    </div>
    <div class="back">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <a href="/books/{{_id}}/details" class="details">Детайли</a>
    </div>
</div>